<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>814968766647-09v44hi6ekpc95ktab8s05q57hbumdqj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.814968766647-09v44hi6ekpc95ktab8s05q57hbumdqj</string>
	<key>API_KEY</key>
	<string>AIzaSyA7JiBR1djVjyEr6UXRwIUfBS7kb0wYfZM</string>
	<key>GCM_SENDER_ID</key>
	<string>814968766647</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.google.firebase.udacity.friendlychat</string>
	<key>PROJECT_ID</key>
	<string>friendlychat-224ee</string>
	<key>STORAGE_BUCKET</key>
	<string>friendlychat-224ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:814968766647:ios:64e58dacc0483faa</string>
	<key>DATABASE_URL</key>
	<string>https://friendlychat-224ee.firebaseio.com</string>
</dict>
</plist>